h1, h2, h3, h4{
    font-family: 'Bogart Trial';
    font-weight: 450;
}

.choose-treats-page-container{
    font-family: 'Bogart Trial';
}

.treat-option-container{
    display:flex;
    flex-direction:column;
}

.row{
    display:flex;
    flex:1;
}

.timer-treats-title{
    text-align:center;
    font-weight:400;
    padding-top:115px;
    padding-bottom:50px;
}

.bake-title{
    font-size:50px;
    font-weight:400;
    text-align:center;
    padding-left:100px;
    padding-right:100px;
    line-height:50px;
}

.home-desc{
    color: #666666;
    padding-left:80px;
    padding-right:80px;
    text-align:center;
}

.start-focusing-button{
    background-color: #dbc9a4;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    font-family:'Bogart Trial';
    text-decoration:none;
    color:black;
    border-radius:15px;
}

.matcha-image-on-bake{
    position:relative;
    bottom:120px;
    left:265px;
}

.sesame-image-on-bake{
    position:relative;
    bottom:180px;
    left:42px;
}

.thai-image-on-bake{
    position:relative;
    bottom:270px;
    left:105px;
}

.choose-your-treat-title{
    text-align: center;
    font-weight:300;
    font-size:40px;
    padding-top:30px;
    padding-left:110px;
    padding-right:110px;
    padding-bottom:5px;
    line-height:40px;
}
