.component-container{
    width: 175px;
    height:150px;
    background-color: beige;
    padding: 10px;
    margin:10px;
    flex:1;
    border-radius:7%;
}

.component-container:hover{
    cursor:pointer;
}

.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color:rgba(0,0,0,0.2);
    display:flex;
    justify-content:center;
    align-items:center;
}

.popup-inner{
    position:relative;
    padding:32px;
    width:100%;
    max-width:640px;
    background-color:#fff4ce;
}

.time-selection-container{
    background-color: #eddcba;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    font-family:'Bogart Trial';
    border-radius:15px;
    width:fit-content;
}